localhost {
        encode zstd gzip
        templates
        file_server browse
}

http://site1.com {
        redir http://wordpress-site.com/site1{uri} permanent
}

http://site2.com {
        redir http://wordpress-site.com/site2{uri} permanent
}

http://wordpress-site.com {
        templates
        file_server
        root * /www-data
        try_files {path}.html {path}
        reverse_proxy wordpress:80  
 }
